{{define "login"}}
<!DOCTYPE html>
<html lang="en">
{{template "_head"}}

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/">Login to <b>Quizy</b></a>
        </div>

        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form action="/login" method="POST" id="login-form">
                    <div class="input-group mb-3">
                        <input type="email" name="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="text-message">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                    {{.csrfField}}
                </form>

                <p class="mb-1">
                    <a href="#">I forgot my password</a>
                </p>

                <p class="mb-0">
                    <a href="/register" class="text-center">I wanna register</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    {{template "_script"}}
    <script>
        $("#login-form").submit(function (e) {
            e.preventDefault()
            const form = $(this)
            const url = form.attr("action")
            const method = form.attr("method")
            const data = JSON.stringify({
                email: $("input[name='email']").val(),
                password: $("input[name='password']").val()
            })

            $.ajax({
                url,
                method,
                data,
                beforeSend: function (r) {
                    const csrf = form.find("input[name='gorilla.csrf.Token']").val()
                    r.setRequestHeader("X-CSRF-Token", csrf)
                }
            }).then(res => {
                const isSuccess = res.success
                if (!isSuccess) {
                    $(".text-message").text(res.message)
                }
                if (isSuccess){
                    window.location.reload()
                }
            })
        })
    </script>
</body>

</html>
{{end}}